.breadcrumbWrap {
  margin-top: 24px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.arrow {
  display: inline-block;
  margin: 0 16px;
  cursor: default;
  font-size: 10px;
}

.item {
  cursor: pointer;
  display: inline;
  font-size: 16px;
  &.disabled {
    cursor: default;
    pointer-events: none;
  }
}
