@import '../common.scss';

.contactWrap {
  padding: 70px 0;
  width: 100%;
  background-color: $back-color;
}

.contactContainer {
  margin: 32px auto 0;
  padding: 0 8%;
  width: 100%;
  max-width: 1024px;
}

.contents {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.itemBox {
  width: 47%;
}

.item {
  margin-bottom: 16px;

  &:nth-child(3) {
    margin-bottom: 0;
  }
}

.controller {
  width: 100%;
  text-align: center;
}
