@import '../common.scss';
@import '../_breakpoint';
@import '../_mixin';
@import '../animation';

.contactWrap {
  width: 100%;
  background-color: $back-color;
}

.contactContainer {
  margin: 32px auto 0;

  @include mq(lg) {
    width: 100%;
    max-width: 1000px;
  }
}

.contents {
  margin-bottom: 48px;

  @include mq(lg) {
    display: flex;
    justify-content: space-between;
  }
}

.itemBox {
  @include mq(md) {
    width: 100%;
  }

  @include mq(lg) {
    width: 47%;
  }
}

.item {
  margin-bottom: 16px;

  &:nth-child(3) {
    @include mq(lg) {
      margin-bottom: 0;
    }
  }
}

.controller {
  width: 100%;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  padding: 8px;
  background-color: $success;
  color: $white;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 500ms ease;
  text-align: center;

  &.isSuccess {
    opacity: 1;
    transform: translateY(0);
  }

  @include mq(sm) {
    padding: 8px 16px;
    text-align: left;
  }

  @include mq(md) {
    text-align: center;
  }
}

.messageIcon {
  width: 30px;
  margin-right: 16px;
}
