@import '../animation';
@import '../common.scss';
@import '../breakpoint';
@import '../mixin';

.flowBox {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  opacity: 0;

  &.inView {
    animation-name: normalbottomUp;
    animation-duration: 1s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @include mq(sm) {
    flex-direction: column;
  }

  @include mq(md) {
    width: 540px;
  }

  @include mq(lg) {
    flex-direction: row;
    width: 100%;
  }
}

.flow {
  margin-bottom: 56px;
  padding: 40px;
  position: relative;
  width: 100%;
  background-color: $white;
  background-repeat: no-repeat;
  border-top: solid 12px $yellow;
  text-align: left;

  &:nth-child(1) {
    background-image: url('../../images/flow_back_1.svg');
    background-position: top 0 right -100px;
    @include mq(md) {
      background-position: top 0 right 0;
    }
    @include mq(lg) {
      background-position: top 0 right -100px;
    }
  }

  &:nth-child(2) {
    background-image: url('../../images/flow_back_2.svg');
    background-position: top 0 right -16px;
    @include mq(md) {
      background-position: top 0 right 54px;
    }
    @include mq(lg) {
      background-position: top 0 right -16px;
    }
  }

  &:nth-child(3) {
    background-image: url('../../images/flow_back_3.svg');
    background-position: top 0 right -12px;
    @include mq(md) {
      background-position: top 0 right 0px;
    }
    @include mq(lg) {
      background-position: top 0 left 12px;
    }
  }

  @include mq(sm) {
    &:nth-child(3) {
      margin-bottom: 0;
    }
  }

  @include mq(md) {
    margin: 0 auto 56px;
    width: 100%;
  }

  @include mq(lg) {
    margin: 0;
    padding: 24px;
    width: 30%;
  }

  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    transition: right 300ms ease;
    background-color: $grey-main;

    @include mq(sm) {
      height: 24px;
      width: 1px;
      top: auto;
      right: 50%;
      bottom: -42px;
    }

    @include mq(lg) {
      height: 1px;
      width: 24px;
      top: 50%;
      right: -38px;
      bottom: auto;
    }
  }

  &::after {
    content: '';
    display: inline-block;
    height: 1px;
    width: 12px;
    position: absolute;
    top: calc(50% - 4px);
    right: -40px;
    bottom: auto;
    transition: right 300ms ease;
    background-color: $grey-main;

    @include mq(sm) {
      top: auto;
      right: calc(50% - 9px);
      bottom: -38px;
      transform: rotate(135deg);
    }

    @include mq(lg) {
      top: calc(50% - 4px);
      right: -40px;
      bottom: auto;
      transform: rotate(45deg);
    }
  }

  &:nth-child(3) {
    &::before,
    &::after {
      display: none;
    }
  }
}

.flowTitle {
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid $grey-main;
  font-size: 26px;
}

.text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 24px;
}

.flowListItem {
  line-height: 1.6;
  font-size: 14px;
}
