@import '../common.scss';

.headerWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 74px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  background-color: rgba($white, 0.9);
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 16px;
  cursor: pointer;
  transition: opacity 400ms ease;

  &:hover {
    opacity: 0.4;
  }
}

.controllers {
  display: flex;
  align-items: center;
}

.goAnotherPageLink {
  padding: 0 16px;
  border-left: 1px solid $grey-main;
  line-height: 74px;
}
