@import '../common.scss';
@import '../_breakpoint';
@import '../_mixin';

.header {
  @include mq(md) {
    height: 60px;
  }

  @include mq(lg) {
    height: 74px;
  }
}

.headerWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  background-color: rgba($white, 0.9);
  z-index: 100;

  @include mq(md) {
    height: 60px;
  }

  @include mq(lg) {
    height: 74px;
  }
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 16px;
  cursor: pointer;
  transition: opacity 400ms ease;

  &:hover {
    opacity: 0.4;
  }

  @include mq(sm) {
    width: 60%;
  }

  @include mq(md) {
    width: 300px;
  }
}

.controllers {
  display: flex;
  align-items: center;
}

.goAnotherPageLink {
  padding: 0 16px;
  border-left: 1px solid $grey-main;
  line-height: 74px;
}

.menuBox {
  width: 60px;
  height: 60px;
  background-color: $black;
  position: relative;
  cursor: pointer;

  .bar {
    display: inline-block;
    height: 3px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
  }

  .barTop {
    top: 28%;
  }

  .barBottom {
    top: 72%;
  }
}
