@import '../common.scss';
@import '../_breakpoint';
@import '../_mixin';
@import '../animation';

.homeWrap {
  margin: 0 auto;
  position: relative;

  @include mq(sm) {
    height: calc(100vh - 74px);
    width: 100%;
  }

  @include mq(md) {
    width: 100%;
    overflow: hidden;
  }

  @include mq(lg) {
    overflow: visible;
    width: 460px;
  }
}

.leadText {
  margin-bottom: 120px;
  color: $black;
  text-align: center;
  animation-name: bottomUp;
  animation-duration: 1.5s;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @include mq(sm) {
    margin: auto auto 48px;
    font-size: 20px;
    letter-spacing: 0.6rem;
    writing-mode: vertical-rl;
  }

  @include mq(md) {
    margin-bottom: 120px;
    font-size: 28px;
    letter-spacing: 0.2rem;
    writing-mode: horizontal-tb;
  }
}

.mainContents {
  position: absolute;
  top: 0;
  right: auto;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  @include mq(sm) {
    overflow: hidden;
    width: 100%;
  }

  @include mq(md) {
    bottom: 0;
    overflow: visible;
    width: 460px;
  }
}

.contentBottom {
  position: absolute;
  top: auto;
  right: auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;

  @include mq(md) {
    width: 464px;
  }
}

.controllers {
  display: flex;
  opacity: 0;
  animation-name: bottomUp;
  animation-duration: 1.5s;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @include mq(sm) {
    justify-content: space-around;
    margin: 0 auto;
    width: 74%;
  }

  @include mq(md) {
    justify-content: space-between;
    width: 100%;
  }
}

.button {
  padding: 8px;
  background-color: $white;
  border: 1px solid $grey-main;
  color: $grey-main;
  text-align: center;
  transition: all 400ms ease-in;

  &:hover {
    background-color: $grey-main;
    color: $white;
  }

  @include mq(sm) {
    width: 132px;
  }

  @include mq(md) {
    width: 168px;
  }
}

.buttonText {
  margin-bottom: 8px;

  @include mq(sm) {
    font-size: 18px;
  }

  @include mq(md) {
    font-size: 24px;
  }
}

.buttonSubText {
  @include mq(sm) {
    font-size: 12px;
  }

  @include mq(md) {
    font-size: 16px;
  }
}

.leftImageBox,
.rightImageBox {
  position: absolute;
  top: auto;
  bottom: 0;
  opacity: 0;
}

.leftImageBox {
  bottom: 56px;
  animation-name: topLeftOpacity;
  animation-duration: 80s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;

  @include mq(sm) {
    left: -14px;
    width: 30%;
  }

  @include mq(md) {
    left: -90px;
    width: 168px;
  }

  @include mq(lg) {
    left: -168px;
    width: 242px;
  }
}

.rightImageBox {
  width: 261px;
  animation-name: topRightOpacity;
  animation-duration: 80s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;

  @include mq(sm) {
    right: -20px;
    bottom: 64px;
    width: 30%;
  }

  @include mq(md) {
    right: -90px;
    bottom: 120px;
    width: 160px;
  }

  @include mq(lg) {
    right: -188px;
    width: 261px;
  }
}

.mainImageBox {
  margin: 0 auto;
  animation-name: bottomUp;
  animation-duration: 1.5s;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  position: relative;

  @include mq(sm) {
    width: 179px;
  }

  @include mq(md) {
    width: 267px;
  }
}

.mainImageTop {
  opacity: 1;
  animation-name: topMainOpacityHide;
  animation-duration: 40s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.mainImageBottom {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  animation-name: topMainOpacityShow;
  animation-duration: 40s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
