.iconBox {
  display: inline-block;
  position: relative;
  cursor: default;

  &.linkIcon {
    cursor: pointer;
    transition: opacity 400ms ease;

    &:hover {
      opacity: 0.4;
    }
  }

  & > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
