@import '../common';
@import '../animation';
@import '../mixin';
@import '../breakpoint';
@import url(http://fonts.googleapis.com/css?family=Ubuntu:bold);
@import url(http://fonts.googleapis.com/css?family=Vollkorn);

.workWrap {
  margin: 40px auto 64px;

  &.menuWrap {
    overflow: scroll;
    -ms-overflow-style: none; 

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.works {
  margin-bottom: 60px;
}

.note {
  color: $grey-main;
}

.spOnlyBox {
  display: block;
  height: 40px;

  @include mq(md) {
    display: none;
  }
}
