@import '../common.scss';
@import url(http://fonts.googleapis.com/css?family=Ubuntu:bold);
@import url(http://fonts.googleapis.com/css?family=Vollkorn);

.workWrap {
  margin: 40px auto 64px;
  width: 100%;
  max-width: 1024px;
}

.note {
  color: $grey-main;
}

.worksErea {
  @import '../markdown.scss';
}
