@import '../animation';
@import '../common.scss';
@import '../breakpoint';
@import '../mixin';

.meritBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
  background-color: $white;
  text-align: left;

  &:nth-child(1) {
    opacity: 0;
    &.inView {
      animation-name: leftRight;
      animation-duration: 1s;
      animation-delay: 0;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }

  &:nth-child(2) {
    opacity: 0;
    &.inView {
      animation-name: rightLeft;
      animation-duration: 1s;
      animation-delay: 0;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }

  &:nth-child(3) {
    opacity: 0;
    &.inView {
      animation-name: leftRight;
      animation-duration: 1s;
      animation-delay: 0;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }

  &:nth-child(4) {
    opacity: 0;
    &.inView {
      animation-name: rightLeft;
      animation-duration: 1s;
      animation-delay: 0;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }

  @include mq(sm) {
    flex-direction: column;
    padding: 40px;
  }

  @include mq(lg) {
    flex-direction: row;
    padding: 56px;
  }

  &.inversion {
    @include mq(sm) {
      flex-direction: column;
    }

    @include mq(lg) {
      flex-flow: row-reverse;
    }
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.meritContents {
  width: 54%;

  @include mq(sm) {
    width: 100%;
  }

  @include mq(lg) {
    width: 54%;
  }
}

.meritNumber {
  margin-bottom: 24px;
  font-size: 36px;
  font-weight: 600;
}

.meritTitle {
  margin-bottom: 24px;
}

.meritTitleText {
  display: inline-block;
  position: relative;
  line-height: 2;
  z-index: 1;

  @include mq(sm) {
    font-size: 22px;
  }

  @include mq(lg) {
    font-size: 27px;
  }

  &::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 12px;
    position: absolute;
    top: auto;
    right: 0;
    bottom: 8px;
    left: 0;
    background-color: #faf000e0;
    z-index: -1;
    transition: all 800ms ease;
    transition-delay: 500ms;
  }
}

.meritBox.inView .meritTitleText::before{
  width: 100%;
}

.meritText {
  margin-bottom: 16px;
  width: 100%;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.1em;

  &:last-child {
    margin-bottom: 0;
  }
}

.meritImage {
  @include mq(sm) {
    margin-top: 24px;
    width: 80%;
  }

  @include mq(md) {
    margin-top: 32px;
    width: 60%;
  }

  @include mq(lg) {
    margin-top: 0;
    width: 40%;
  }
}

.artLinkBox {
  text-align: right;
}
