@import '../common.scss';
@import '../_breakpoint';
@import '../_mixin';
@import '../animation';

.newsWrap {
  margin-top: 80px;
  margin-bottom: 80px;
}

.date {
  margin-bottom: 24px;
  font-size: 20px;
}

.title {
  margin-bottom: 32px;
  font-size: 24px;
}

.body {
  @import '../markdown.scss';
  font-size: 16px;
}
