@import '../animation';

.newsWrap {
  margin: 40px auto 64px;
}

.itemBox {
  margin-bottom: 72px;
  cursor: pointer;
  transition: opacity 400ms ease;

  &:hover {
    opacity: 0.6;
  }
}

.date {
  font-size: 20px;
  margin-bottom: 16px;
}

.title {
  margin-bottom: 48px;
  font-size: 24px;
}

.body {
  font-size: 16px;
  line-height: 1.5;

  p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.controller {
  text-align: right;
  margin-top: 24px;
  margin-right: 8px;
}
