.newsWrap {
  margin: 40px auto 64px;
  width: 100%;
  max-width: 1024px;
}

.itemBox {
  margin-bottom: 72px;
}

.date {
  margin-bottom: 16px;
}

.title {
  margin-bottom: 24px;
  font-size: 24px;
}

.body {
  line-height: 1.5;
}
