@import '../animation';

.newsWrap {
  margin: 40px auto 64px;
}

.itemBox {
  margin-bottom: 72px;
}

.date {
  font-size: 20px;
  margin-bottom: 16px;
}

.title {
  margin-bottom: 24px;
  font-size: 24px;
}

.body {
  font-size: 16px;
  line-height: 1.5;
}

.controller {
  text-align: right;
  margin-top: 24px;
  margin-right: 8px;
}
