@import '../common.scss';
@import '../breakpoint';
@import '../mixin';

.contentWrap {
  @include mq(lg) {
    display: flex;
    padding-bottom: 64px;
  }
}

.body {
  margin: 64px auto 0;
  padding-bottom: 64px;
  width: 90%;

  @include mq(lg) {
    margin: 114px auto 0;
    padding-bottom: 0;
    width: 100%;
  }
}
