@import '../common.scss';
@import '../breakpoint';
@import '../mixin';
@import '../animation';

.contentWrap {
  @include mq(lg) {
    display: flex;
    margin: 0 auto;
    max-width: 1024px;
    padding-bottom: 144px;
    width: 100%;
  }
}

.body {
  margin: 64px auto 0;
  padding-bottom: 64px;
  width: 90%;
  opacity: 0;

  &.inView {
    animation-name: normalbottomUp;
    animation-duration: 1s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @include mq(lg) {
    margin: 144px auto 0;
    padding-bottom: 0;
    width: 100%;
  }
}
