@import '../common.scss';
@import '../_breakpoint';
@import '../_mixin';

.workWrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
}

.workBox {
  margin-bottom: 88px;
  width: 100%;

  @include mq(sm) {
    margin-right: 0;
  }

  @include mq(md) {
    width: 46%;
    margin-right: calc(100% - 92%);

    &:nth-child(2n) {
      margin-right: 0;
    }

    &.minWidth {
      width: 100%;
      margin-right: 0;
    }
  }

  @include mq(lg) {
    width: 30%;
    margin-right: calc((100% - 90%) / 2);

    &:nth-child(2n) {
      margin-right: calc((100% - 90%) / 2);
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.imageBox {
  width: 100%;
  margin-bottom: 24px;
  position: relative;
  cursor: pointer;

  &:hover {
    img {
      transform: scale(1.2);
    }
  }

  &:before {
    display: block;
    content: '';
    padding-top: 100%;
  }

  .imageAjBox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  img {
    object-fit: cover;
    transform: scale(1);
    transition: all 400ms ease-out;
  }
}

.worksText {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 16px;
  cursor: pointer;
  font-size: 16px;
}

.workCategoryBox {
  display: flex;
}

.workCategory {
  margin-right: 8px;
  padding: 4px 16px;
  border: 1px solid $grey-main;
  font-size: 14px;
}
