@import '../common.scss';
@import '../_breakpoint';
@import '../_mixin';

.workBox {
  width: 30%;
  margin-right: calc((100% - 90%) / 2);
  margin-bottom: 88px;

  @include mq(sm) {
    width: 100%;
    margin-right: 0;
  }

  @include mq(md) {
    width: 46%;
    margin-right: calc(100% - 92%);
  }

  @include mq(lg) {
    width: 30%;
    margin-right: calc((100% - 90%) / 2);
  }

  &:nth-child(3n) {
    @include mq(md) {
      margin-right: calc(100% - 92%);
    }

    @include mq(lg) {
      margin-right: 0;
    }
  }

  &:nth-child(2n) {
    @include mq(md) {
      margin-right: 0;
    }

    @include mq(lg) {
      margin-right: calc((100% - 90%) / 2);
    }
  }
}

.imageBox {
  width: 100%;
  margin-bottom: 24px;
  position: relative;
  cursor: pointer;

  &:hover {
    img {
      transform: scale(1.2);
    }
  }

  &:before {
    display: block;
    content: '';
    padding-top: 100%;
  }

  .imageAjBox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  img {
    object-fit: cover;
    transform: scale(1);
    transition: all 400ms ease-out;
  }
}

.worksText {
  cursor: pointer;
}
