@import '../animation';
@import '../common.scss';
@import '../breakpoint';
@import '../mixin';

.priceListBox {
  opacity: 0;

  &.inView {
    animation-name: normalbottomUp;
    animation-duration: 0.8s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  @include mq(md) {
    width: 100%;
    margin: 0 auto;
  }
}

.priceTitle {
  margin-bottom: 16px;
  font-size: 26px;
  letter-spacing: 0.2em;
}

.priceText {
  margin-bottom: 32px;
  line-height: 1.5;
}

.priceBox {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;

  @include mq(sm) {
    flex-direction: column;
  }

  @include mq(lg) {
    flex-direction: row;
  }
}

.priceContents {
  margin-bottom: 80px;

  @include mq(sm) {
    width: 100%;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @include mq(lg) {
    width: 48%;
  }

  &:nth-child(3),
  &:nth-child(4) {
    @include mq(lg) {
      margin-bottom: 0;
    }
  }
}

.contenttitle {
  padding-bottom: 12px;
  border-bottom: 3px solid $grey-main;
  font-size: 20px;
}

.contentItemList {
  margin-bottom: 8px;
}

.contentItem {
  padding: 24px 0;
  border-bottom: 1px solid $grey-main;
}

.contentItemTitle {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.5;
}

.contentItemPrice {
  text-align: right;
}

.contentItemNotes {
  font-size: 12px;
  line-height: 2;
}

.contentItemText {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 2;
}

.contentItemLink {
  margin-top: 16px;
  text-align: right;
}
