@import '../common.scss';

.button {
  padding: 16px 56px;
  font-size: 20px;
  border: 1px solid $grey-main;
  color: $grey-main;
  transition: all 400ms ease;

  &.isDisabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &:hover {
    background-color: $grey-main;
    color: $white;
  }
}
