@import '../common.scss';
@import '../_breakpoint';
@import '../_mixin';

.profileWrap {
  border: 1px solid $grey-main;

  @include mq(md) {
    padding: 32px;
  }

  @include mq(lg) {
    display: flex;
    padding: 0 24px 40px 40px;
  }
}

.sectionTitleBox {
  margin-right: 40px;
  border-right: 1px solid $grey-main;
}

.contentBody {
  display: flex;

  @include mq(md) {
    padding-top: 32px;
  }
}

.contantBox {
  @include mq(md) {
    margin-right: 32px;
  }
  @include mq(lg) {
    padding: 40px 32px 0 0;
  }
}

.jobTitle,
.name {
  font-size: 20px;
  font-weight: 600;
}

.jobTitle {
  margin-bottom: 8px;
}

.name {
  margin-bottom: 24px;

  @include mq(lg) {
    display: flex;
    align-items: center;
  }
}

.nameText {
  @include mq(md) {
    display: block;
    margin-bottom: 16px;
    width: 100%;
  }
  @include mq(lg) {
    display: inline-block;
    margin-bottom: 0;
  }
}

.recode {
  margin-bottom: 24px;
  line-height: 1.5;
}

.text {
  line-height: 1.5;
}

.imageBox {
  @include mq(lg) {
    padding-top: 40px;
  }
}

.image {
  width: 310px;
  background-color: azure;
  height: 100%;
}
