@import '../animation';
@import '../breakpoint';
@import '../mixin';

.recommendBox {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  opacity: 0;

  &.inView {
    animation-name: normalbottomUp;
    animation-duration: 1s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @include mq(sm) {
    width: 100%;
    flex-direction: column;
  }

  @include mq(md) {
    width: 540px;
  }

  @include mq(lg) {
    width: 100%;
    flex-direction: row;
  }
}

.item {
  width: 100%;
  margin-bottom: 80px;

  @include mq(sm) {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  @include mq(md) {
    display: flex;
    align-items: center;
    margin: 0 auto 80px;

    &:nth-child(2) {
      flex-direction: row-reverse;
    }
  }

  @include mq(lg) {
    display: inline-block;
    margin-bottom: 0;
    width: 30%;
  }
}

.image {
  margin: 0 auto 32px;
  padding-top: 70%;
  width: 70%;
  background-image: url('../../images/recommend_01.png');
  background-size: 300%;
  background-position: 48% 24%;
  border-radius: 50%;

  @include mq(md) {
    margin-bottom: 0;
    padding-top: 200px;
    width: 200px;
  }

  @include mq(lg) {
    margin-bottom: 32px;
    padding-top: 70%;
    width: 70%;
  }

  &.image2 {
    background-image: url('../../images/recommend_02.png');
    background-size: 150%;
    background-position: 67% 24%;
  }

  &.image3 {
    background-image: url('../../images/recommend_03.png');
    background-size: 124%;
  }
}

.itemBody {
  @include mq(md) {
    margin-left: 32px;
    width: calc(100% - 232px);

    &.itemBody2 {
      margin-left: 0;
      margin-right: 32px;
    }
  }

  @include mq(lg) {
    margin-left: 0;
    width: 100%;
  }
}

.company {
  display: inline-block;
  margin-bottom: 8px;
  cursor: pointer;

  &::after {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-left: 8px;
    background-image: url('../../images/icon_browser.svg');
  }
}

.name {
  margin-bottom: 32px;
}

.text {
  font-size: 16px;
  font-weight: 100;
  line-height: 2;
}
