@import '../animation';
@import '../common.scss';
@import '../breakpoint';
@import '../mixin';

.topImage {
  height: calc(100vh - 60px);
  overflow: hidden;
}

.topCopy {
  height: 100%;
  margin: 0 auto;
  position: relative;
  font-size: 34px;
  line-height: 3;
  letter-spacing: 1em;
  text-align: center;
  writing-mode: vertical-rl;
}

.topText1 {
  opacity: 0;
  animation-name: normalOpacity;
  animation-duration: 1s;
  animation-delay: 3.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.topText2 {
  opacity: 0;
  animation-name: normalOpacity;
  animation-duration: 1s;
  animation-delay: 4.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.topText3 {
  opacity: 0;
  animation-name: normalOpacity;
  animation-duration: 1s;
  animation-delay: 5.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.topText4 {
  opacity: 0;
  animation-name: normalOpacity;
  animation-duration: 1s;
  animation-delay: 6.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.topImageBox {
  position: absolute;
  top: 50%;
  right: auto;
  left: 50%;
  bottom: auto;
  animation-name: blurAnime;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @include mq(sm) {
    transform: translate(-40%, -44%) scale(2.8);
    width: 100%;
  }

  @include mq(md) {
    transform: translate(-40%, -37%) scale(1);
    width: auto;
  }
}

.aboutWrap {
  background-color: $back-sanou;
  position: relative;

  @include mq(sm) {
    padding-top: 120px;
  }

  @include mq(lg) {
    padding-top: 0;
    &::before {
      content: '';
      display: inline-block;
      height: 156px;
      width: 1px;
      position: absolute;
      top: -78px;
      right: auto;
      bottom: auto;
      left: 50%;
      background-color: $grey-main;
      animation-name: snouTopArrow;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
    }

    &::after {
      content: '';
      display: inline-block;
      height: 28px;
      width: 1px;
      position: absolute;
      top: 54px;
      right: auto;
      bottom: auto;
      left: calc(50% - (10px * -1));
      transform: rotate(45deg);
      background-color: $grey-main;
      animation-name: snouTopArrowRotate45;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
    }
  }
}

.aboutContents {
  margin: 0 auto;
  padding-bottom: 72px;
  width: 100%;
  max-width: 1024px;

  @include mq(sm) {
  }

  @include mq(md) {
    display: flex;
  }
}

.aboutBody {
  width: auto;

  @include mq(md) {
    width: 607px;
  }

  @include mq(md) {
    width: auto;
  }
}

.text {
  margin-bottom: 24px;
  line-height: 2;
  font-size: 16px;

  @include mq(lg) {
    font-size: 18px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.controller {
  text-align: center;
}

.workWrap {
  margin-top: 80px;
}

.worksErea {
  @import '../markdown.scss';
}

.meritWrap {
  padding-top: 114px;
  padding-bottom: 114px;
  background-color: $back-sanou;
  text-align: center;
}

.meritContents {
  @include mq(md) {
    margin: 0 auto;
    width: 70%;
  }

  @include mq(lg) {
    width: 100%;
  }
}

.meritTitle {
  margin-bottom: 32px;
  opacity: 0;

  &.inView {
    animation-name: normalTopDown;
    animation-duration: 0.8s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @include mq(sm) {
    & > div {
      margin: 0 auto 32px;
      width: 90%;
    }
  }

  @include mq(lg) {
    margin: 0 auto 32px;
    max-width: 1024px;
    width: 100%;

    & > div {
      width: 85%;
    }
  }
}

.meritBox {
  padding-top: 0;
}

.meritDesignFlowWrap,
.priceListWrap {
  padding-top: 114px;
}

.priceListWrap {
  text-align: left;
}
