@import '../common.scss';
@import '../breakpoint';
@import '../mixin';

.topImage {
  height: calc(100vh - 60px);
  overflow: hidden;
}

.topCopy {
  height: 100%;
  margin: 0 auto;
  position: relative;
  font-size: 34px;
  line-height: 3;
  letter-spacing: 1em;
  text-align: center;
  writing-mode: vertical-rl;
}

.topImageBox {
  position: absolute;
  top: auto;
  right: auto;

  @include mq(sm) {
    bottom: -23%;
    left: -53%;
    width: 260%;
  }

  @include mq(md) {
    bottom: -40%;
    left: -120%;
    width: auto;
  }
}

.aboutWrap {
  background-color: $back-sanou;
  position: relative;

  @include mq(sm) {
    padding-top: 120px;
  }

  @include mq(md) {
    padding-top: 0;
  }

  @include mq(lg) {
    &::before {
      content: '';
      display: inline-block;
      height: 156px;
      width: 1px;
      position: absolute;
      top: -78px;
      right: auto;
      bottom: auto;
      left: 50%;
      background-color: $grey-main;
    }

    &::after {
      content: '';
      display: inline-block;
      height: 28px;
      width: 1px;
      position: absolute;
      top: 54px;
      right: auto;
      bottom: auto;
      left: calc(50% - (10px * -1));
      transform: rotate(45deg);
      background-color: $grey-main;
    }
  }
}

.aboutContents {
  margin: 0 auto;
  padding-bottom: 72px;
  width: 100%;
  max-width: 1024px;

  @include mq(sm) {
  }

  @include mq(md) {
    display: flex;
  }
}

.aboutBody {
  @include mq(sm) {
    margin-top: 64px;
    margin: 0 auto;
    width: 90%;
  }

  @include mq(md) {
    margin-top: 112px;
    width: 100%;
  }
}

.text {
  margin-bottom: 24px;
  line-height: 2;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.controller {
  text-align: center;
}

.workWrap {
  margin-top: 80px;
}

.worksErea {
  @import '../markdown.scss';
}

.meritWrap {
  padding-top: 114px;
  padding-bottom: 114px;
  background-color: $back-sanou;
  text-align: center;
}

.meritTitle {
  margin-bottom: 32px;

  @include mq(sm) {
    & > div {
      margin: 0 auto 32px;
      width: 90%;
    }
  }
}

.meritBox {
  padding-top: 0;
}

.meritDesignFlowWrap,
.priceListWrap {
  padding-top: 114px;
}

.priceListWrap {
  text-align: left;
}
