@import '../common.scss';

.topImage {
  height: calc(100vh - 78px);
  overflow: hidden;
}

.topCopy {
  height: 100%;
  margin: 0 auto;
  position: relative;
  font-size: 34px;
  line-height: 3;
  letter-spacing: 1em;
  text-align: center;
  writing-mode: vertical-rl;
}

.topImageBox {
  position: absolute;
  top: auto;
  right: auto;
  bottom: -40%;
  left: -120%;
}

.aboutWrap {
  background-color: $back-sanou;
}

.workWrap {
  margin-top: 80px;
}

.worksErea {
  @import '../markdown.scss';
}

.aboutContents {
  display: flex;
  margin: 0 auto;
  padding-bottom: 72px;
  width: 100%;
  max-width: 1024px;
}

.aboutBody {
  margin-top: 72px;
  width: 100%;
}

.text {
  margin-bottom: 24px;
  line-height: 2;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.controller {
  text-align: center;
}

.meritWrap {
  padding-top: 114px;
  padding-bottom: 114px;
  background-color: $back-sanou;
  text-align: center;
}

.meritTitle {
  margin-bottom: 32px;
}

.meritBox {
  padding-top: 0;
}

.meritDesignFlowWrap {
  padding-top: 114px;
  padding-bottom: 114px;
}
