@import '../common.scss';
@import '../animation';
@import '../_breakpoint';
@import '../_mixin';

.titleWrap {
  display: inline-block;
  height: 100%;
  margin-right: 40px;
  position: relative;
  text-align: left;
  overflow-x: visible;

  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 1px;
    position: absolute;
    top: 0;
    right: -1px;
    bottom: 0;
    left: auto;
    background-color: $grey-main;
    animation-name: rightLeftLineVertical;
    animation-duration: 0.8s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

.title {
  display: inline-block;
  padding-bottom: 32px;
  padding: 0 0 32px 32px;
  font-size: 40px;
  text-align: right;
  transform: rotate(180deg);
  writing-mode: tb;
  animation-name: leftRightVertical;
  animation-duration: 0.8s;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  @include mq(lg) {
    padding: 0 0 72px 32px;
  }
}

.subTitle {
  font-size: 16px;
}
