@import '../common.scss';

.titleWrap {
  display: inline-block;
  height: 100%;
  text-align: left;
  overflow-x: visible;
}

.title {
  display: inline-block;
  padding-bottom: 32px;
  padding: 0 0 32px 32px;
  font-size: 40px;
  text-align: right;
  transform: rotate(180deg);
  writing-mode: tb;
}

.subTitle {
  font-size: 16px;
}
