@import '../common.scss';
@import '../_breakpoint';
@import '../_mixin';
@import '../animation';

.titleWrap {
  width: 100%;
  text-align: center;
  overflow-x: hidden;
}

.title {
  display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 32px;
  position: relative;
  text-align: center;
  white-space: break-spaces;
  animation-name: leftRight;
  animation-duration: 0.8s;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  &.center {
    width: 100%;
  }

  &.left {
    animation-name: rightLeft;
    animation-duration: 0.8s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @include mq(sm) {
    font-size: 40px;
  }

  @include mq(md) {
    font-size: 50px;
  }

  &::after {
    content: '';
    display: inline-block;
    height: 1px;
    width: calc(100vw + 100px);
    position: absolute;
    bottom: 0;
    background-color: $grey-main;
    animation-name: rightLeftLine;
    animation-duration: 0.8s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    @include mq(sm) {
      left: -25%;
    }

    @include mq(md) {
      left: -100px;
    }
  }

  &.left::after {
    content: '';
    display: inline-block;
    height: 1px;
    width: calc(100vw + 100px);
    position: absolute;
    right: -100px;
    bottom: 0;
    left: auto;
    background-color: $grey-main;

    @include mq(sm) {
      right: -25%;
    }

    @include mq(md) {
      right: -100px;
    }
  }
}

.subTitle {
  line-height: 1.5;
  white-space: break-spaces;
}
