@import '../common.scss';
@import '../_breakpoint';
@import '../_mixin';

.sidebarWrap {
  width: 340px;
  position: fixed;
  top: 0;
  right: -340px;
  bottom: 0;
  left: auto;
  background-color: rgba($black, 0.9);
  transition: right 400ms ease;
  z-index: 200;

  &.isOpen {
    right: 0;
  }
}

.sidebarContentBox {
  height: 100%;
  width: 100%;
  position: relative;
}

.controller {
  height: 60px;
  text-align: right;

  @include mq(lg) {
    height: 74px;
  }
}

.close {
  display: inline-block;
  height: 60px;
  width: 60px;
  position: relative;
  cursor: pointer;

  @include mq(lg) {
    height: 74px;
    width: 74px;
  }

  &::before {
    content: '';
    display: inline-block;
    height: 2px;
    width: 32px;
    background-color: $white;
    position: absolute;
    top: 48%;
    left: 22%;
    transform: rotate(45deg);

    @include mq(lg) {
      top: 50%;
      left: 28%;
    }
  }

  &::after {
    content: '';
    display: inline-block;
    height: 2px;
    width: 32px;
    background-color: $white;
    position: absolute;
    top: 48%;
    left: 22%;
    transform: rotate(-45deg);

    @include mq(lg) {
      top: 50%;
      left: 28%;
    }
  }
}

.listWrap {
  height: calc(100dvh - 60px);
  padding: 0 40px;
  color: $white;
  font-size: 24px;
  overflow: auto;

  @include mq(lg) {
    height: calc(100dvh - 74px);
  }

  .listItem {
    margin-bottom: 20px;
    padding: 16px 0;
    cursor: pointer;
    font-weight: 300;

    &.icons {
      margin-top: 40px;
      margin-bottom: 48px;
    }
  }
}
