@import '../common.scss';

.textAreaWrap {
  width: 100%;
  height: 100%;
}

.label {
  display: inline-block;
  margin-bottom: 8px;
  width: 100%;
  color: $grey-main;
  font-size: 12px;
}

.input {
  height: calc(100% - 24px);
  width: 100%;
  padding: 16px;
  background-color: $white;
  border: 1px solid $grey-main;
  border-radius: 0;
  font-size: 16px;
}
