@import '../common.scss';
.aaa {
  color: red;

  h2 {
    color: blue;
  }
}

.topImage {
  width: 100%;

  & > div {
    vertical-align: top;
  }
}

.newsWrap {
  margin-bottom: 72px;
  background-color: $back-color;
}

.newsContents {
  display: flex;
  margin: 0 auto;
  padding-bottom: 48px;
  width: 100%;
  max-width: 1000px;
}

.sectionTitleBox {
  margin-right: 40px;
  border-right: 1px solid $grey-main;
}

.newsBody {
  width: 100%;
}

.itemWrap {
  padding: 48px 0;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 32px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.date {
  width: 160px;
  display: inline-block;
}

.text {
  width: calc(100% - 160px);
  line-height: 1.5;
}

.controller {
  text-align: center;
}

.portfolioWrap {
  margin-bottom: 80px;
}

.works {
  display: flex;
  flex-wrap: wrap;
  margin: 48px auto 0;
  width: 100%;
  max-width: 1000px;
}

.workBox {
  width: 30%;
  margin-right: calc((100% - 90%) / 2);
  margin-bottom: 88px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.imageBox {
  width: 100%;
  margin-bottom: 24px;
  position: relative;

  &:before {
    display: block;
    content: '';
    padding-top: 100%;
  }

  .imageAjBox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  img {
    object-fit: cover;
  }
}

.profileWrap {
  max-width: 1000px;
  margin: 48px auto 80px;
}
