@import '../common.scss';
@import '../_breakpoint';
@import '../_mixin';
@import '../animation';

.aaa {
  color: red;

  h2 {
    color: blue;
  }
}

.topImage {
  width: 100%;
  font-size: 0;
  opacity: 0;

  &.inView {
    animation-name: normalOpacity;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  & > div {
    vertical-align: top;
    height: 100%;

    img {
      object-fit: cover;
    }
  }

  @include mq(sm) {
    height: 90vh;
  }

  @include mq(md) {
    height: auto;
  }
}

.newsWrap {
  background-color: $back-color;

  @include mq(sm) {
    padding-top: 120px;
  }

  @include mq(lg) {
    padding-top: 0;
  }
}

.itemWrap {
  @include mq(sm) {
    padding: 0 0 56px;
  }

  @include mq(md) {
    padding: 0 0 24px 0;
  }

  @include mq(lg) {
    padding: 0 0 48px 0;
  }
}

.item {
  margin-bottom: 32px;

  @include mq(lg) {
    display: flex;
    align-items: center;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.date {
  width: 100%;
  display: block;
  margin-bottom: 8px;

  @include mq(lg) {
    margin-bottom: 0;
    width: 160px;
    display: inline-block;
  }
}

.text {
  width: calc(100% - 160px);
  line-height: 1.5;
}

.controller {
  text-align: center;
}

.works {
  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
}

.workBox {
  width: 30%;
  margin-right: calc((100% - 90%) / 2);
  margin-bottom: 88px;

  @include mq(sm) {
    width: 100%;
    margin-right: 0;
  }

  @include mq(md) {
    width: 46%;
    margin-right: calc(100% - 92%);
  }

  @include mq(lg) {
    width: 30%;
    margin-right: calc((100% - 90%) / 2);
  }

  &:nth-child(3n) {
    @include mq(md) {
      margin-right: calc(100% - 92%);
    }

    @include mq(lg) {
      margin-right: 0;
    }
  }

  &:nth-child(2n) {
    @include mq(md) {
      margin-right: 0;
    }

    @include mq(lg) {
      margin-right: calc((100% - 90%) / 2);
    }
  }
}

.imageBox {
  width: 100%;
  margin-bottom: 24px;
  position: relative;

  &:hover {
    img {
      transform: scale(1.2);
    }
  }

  &:before {
    display: block;
    content: '';
    padding-top: 100%;
  }

  .imageAjBox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  img {
    object-fit: cover;
    transform: scale(1);
    transition: all 400ms ease-out;
  }
}
