@import '../common.scss';
@import '../_breakpoint';
@import '../_mixin';
@import '../animation';

.profileWrap {
  border: 1px solid $grey-main;

  @include mq(sm) {
    padding: 32px;
  }

  @include mq(md) {
    padding-top: 32px;
  }

  @include mq(lg) {
    display: flex;
    padding: 0 24px 40px 40px;
  }

  &.inView {
    animation-name: normalOpacity;
    animation-duration: 1s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

.contentBody {
  @include mq(md) {
    display: flex;
    padding: 32px 32px;

    &.minWidth {
      flex-direction: column;
    }
  }

  @include mq(lg) {
    padding: 32px 0 0;
  }
}

.contentBox {
  @include mq(sm) {
    margin-bottom: 24px;
  }
  @include mq(md) {
    padding: 0;
    margin-right: 32px;

    &.minWidth {
      margin-bottom: 24px;
    }
  }
  @include mq(lg) {
    margin-right: 0;
    padding: 40px 32px 0 0;
  }
}

.jobTitle,
.name {
  font-size: 20px;
  font-weight: 500;

  @include mq(sm) {
    margin-bottom: 16px;
  }

  @include mq(md) {
    margin-bottom: 0;
  }
}

.jobTitle {
  @include mq(sm) {
    margin-bottom: 12px;
  }

  @include mq(md) {
    margin-bottom: 8px;
  }
}

.name {
  margin-bottom: 24px;

  @include mq(lg) {
    display: flex;
    align-items: center;
  }
}

.nameText {
  margin-bottom: 16px;

  @include mq(md) {
    display: block;
    width: 100%;
  }
  @include mq(lg) {
    display: inline-block;
    margin-bottom: 0;
  }
}

.recode {
  margin-bottom: 24px;
  line-height: 1.5;
  font-size: 14px;

  &.inView {
    animation-name: normalTopDown;
    animation-duration: 0.8s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

.text {
  line-height: 1.5;
  font-size: 14px;

  &.inView {
    animation-name: normalTopDown;
    animation-duration: 0.8s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

.imageBox {
  @include mq(lg) {
    padding-top: 40px;
  }

  &.inView {
    animation-name: normalbottomUp;
    animation-duration: 0.8s;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}

.image {
  margin: 0 auto;
  background-color: azure;

  @include mq(sm) {
    width: 100%;
    padding-top: 100%;
  }

  @include mq(md) {
    width: 310px;
    height: 310px;

    &.minWidth {
      width: 100%;
      padding-top: 100%;
    }
  }
}
