// TOP MAIN IMAGE ANIMATION
@keyframes bottomUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// TOP OPACITY SHOW ANIMATIPN
@keyframes topMainOpacityShow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

// TOP OPACITY HIDE ANIMATIPN
@keyframes topMainOpacityHide {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

// OPACITY SHOW ANIMATION
@keyframes opacity {
  0% {
    opacity: 0;
  }
  6% {
    opacity: 1;
  }
  42% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

// OPACITY ANIMATION
@keyframes normalOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// BOTTOMUP ANIMATION
@keyframes normalbottomUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
