@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500&display=swap');
@import './_breakpoint';
@import './_mixin';
@import './animation';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Serif JP', serif;
  color: #707070;

  @include mq(sm) {
    font-size: 16px;
  }

  @include mq(md) {
    font-size: 18px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  width: 100%;
}

.sectionWrapper {
  @include mq(sm) {
    padding-top: 64px;
  }

  @include mq(md) {
    padding-top: 114px;
  }
}

section {
  margin: 0 auto;
  width: 90%;

  @include mq(lg) {
    max-width: 1000px;
    width: 100%;
    padding: 0 16px;
  }
}

.top-title-box {
  margin: 96px auto 76px;
}

img {
  width: 100%;
}

// アニメーション用
.a-nbu {
  animation-name: normalbottomUp;
  animation-duration: 0.8s;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.a-nop {
  animation-name: normalOpacity;
  animation-duration: 1s;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
